yfinance
pandas
numpy
scikit-learn
torch
transformers
kafka-python
fastapi
uvicorn
websockets
fredapi
newsapi-python
datasets
joblib
plotly
requests
google-generativeai
schedule
supabase
python-dotenv
